body {
  background-color: yellowgreen;
}

.section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  background-image: url("main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 50%;
}

.div {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  background-color: white;
  text-align: center;
  opacity: 0.7;
  border-radius: 5px;
  padding-bottom: 20px;
}
